h1 {
    color: aqua;
}

#masterDiv {
    display: flex;
}

.innerDiv {
    flex-grow: 1;
    background-color: rgb(136, 127, 255);
}

/* !IMPORTANT: inline style >> id >> class >> tag */ 
.innerDiv p {
    background-color: blue;
}

div>ul {
    background-color: crimson;
}

p~p {
    background-color: chartreuse;
}
/* p+p -> both paragraphs will get the same style*/

[title~=test] {
    background: red;
}

[title=test] {
    background: yellow;
}
[title=number] {
    border: 5px solid red;
    background: rebeccapurple;
}

[title=text] {
    border: 1px solid green;
    background: silver;
}

a {
    color: hotpink;
}

[href~=strive] {
    color: green;
}

[href^=https] {
    color: orange;
}

[href$=pdf] {
    font-size: 2em;
    color: indigo;
}

[alt~=google] {
    font-weight: bolder;
}

[src$=png] {
    background: palegreen;
}

ul:first-child {
    border-top: 1px solid gray;
    border-radius: 15px;
}

ul:last-child {
    border-bottom: 1px solid gray;
    border-radius: 15px;
}
li:nth-child(2n) {
    background: khaki;
}
li:nth-child(2n+1) {
    background: white;
}

li::after{
    content: "<";
    border-right: 1px solid red;
    display: none;  
}
li:hover::after{
    display: inline;
}
.innerDiv:hover{
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}

input[type=text]:focus{
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;  
}

}